<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>catalogo</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <link rel="icon" type="image/x-icon" href="favicon.ico"> -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  
  
</head>



<h1 class="text-white">Peliculas de mi catalogo</h1>

<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card">
                <img class="card-img-top" src="assets/amigos_intocables.jpg" width="150" height="300">
                <div class="card-body text-center">
                    <h4 class="card-title">Amigos Intocables</h4>
                    <p class="card-text">Amigos intocables es una película francesa de 2011</p>
                    <a routerLink="/movie"><button type="button" class="btn btn-primary">Ver más...</button></a>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card">
                <img class="card-img-top" src="assets/amor_eterno.jpg" width="150" height="300">
                <div class="card-body text-center">
                    <h4 class="card-title">Amor Eterno</h4>
                    <p class="card-text">La película está situada en Francia, al final de la Primera Guerra Mundial.</p>
                    <button type="button" class="btn btn-primary">Ver más...</button>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card">
                <img class="card-img-top" src="assets/jojo_rabbit.jpg" width="150" height="300">
                <div class="card-body text-center">
                    <h4 class="card-title">Jojo Rabbit</h4>
                    <p class="card-text">Una sátira de la Segunda Guerra Mundial que sigue a un solitario muchacho alemán.</p>
                    <button type="button" class="btn btn-primary">Ver más...</button>
                </div>
            </div>
        </div>
    </div>
</div>

</html>







